body{
    font-family: "Poppins", sans-serif;
    background-color: rgba(255, 255, 255, 0);
    color: hsl(0, 0%, 15%);
    font-size: 15px;
}
h1{
    text-align: center;
}
.input-label{
    color: hsl(0, 0%, 30%);
}
.container{
    background-color: white;
    padding: 20px;
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    border:1px solid gray;
}
.calculate-button{
    border: none;
    background-color: hsl(140, 65%, 30%);
    border-radius: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.calculate-button:hover{
    background-color:hsl(140, 65%, 35%) ;
}
.properties-textbox{
    width: 350px;
    height: 30px;
    margin: 0;
    border: 1px gray solid;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.5em;
    font-family: monospace;
    text-indent: 10px;
    border-radius: 5px;
    margin-bottom: 10px;

}
.select-dropdown{
    width: 350px;
    height: 40px;
    margin: 0;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;

}
#resultTextbox{
    font-size: 1.5em;
    color: rgb(59, 104, 252);
    font-family: monospace;
    text-indent: 10px;
    border-radius: 10px;
}
.hidden{
    display: none;
}
.errorAlert{
    border-color: red;
}